<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ln.dao.PermissionsMapper">
    <resultMap id="permissionsMap" type="com.ln.model.Permissions">
        <id column="id" property="id"/>
        <id column="permit" property="permit"/>
        <id column="function" property="function"/>
    </resultMap>
    <select id="get" resultMap="permissionsMap">
        SELECT * FROM permissions;
    </select>


</mapper>
