<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ln.dao.TokenMapper">
    <resultMap id="ResultMap" type="com.ln.model.Token">
        <id column="id" property="id"/>
        <id column="token" property="token"/>
        <id column="expiretime" property="expireTime"/>
    </resultMap>
    <select id="get" resultMap="ResultMap">
        SELECT * FROM Token where id=#{id};
    </select>
    <insert id="insert" parameterType="com.ln.model.User">
        insert into token (id,token,expiretime) values (#{id},#{token},#{expireTime});
    </insert>
    <delete id="delete">
        delete from token where id=#{id};
    </delete>

</mapper>
